<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home_styles.css">
</head>
<body>
    <div class="container">
    <form action="/timesheet_entry.html" method="POST">
    <button class="tile" onclick="goto_timesheet_entry()">MODIFY TIMESHEET</button>
    </form>

    <form action="/employee_login_creation.html" method="POST">
    <button class="tile" onclick="goto_create_employee_login()">CREATE EMPLOYEE LOGIN</button>
    </form>
    
    <form action="/password_reset.html" methods="POST">
    <button class="tile" onclick="goto_password_reset()">RESET PAssword</button>
    </form>

    <form action="/logout.html" methods="POST">
    <button class="tile" onclick="goto_logout()">LOGOUT</button>
    </form>
    </div>
    
    <script src="../static/js/home_script.js"></script>
    
</body>
</html>