<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Screen</title>
    <link rel="stylesheet" href="../static/css/login_styles.css">
</head>
<body>
    <h1>LOGIN</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/home.html?from=login" method="POST">
    <label for="mail">Username</label>
    <input type="email" name="mail" id="mail">

    <label for="pwd">Password</label>
    <input type="password" name="pwd" id="pwd"><br>

    <button type="submit" >LOGIN</button>
    </form>
    <script src="../static/js/login_script.js"></script>
    
</body>
</html>