<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/password_reset_styles.css">
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    <p>Username: charanjith.angadi@gmail.com</p>
    <form action="/password_reset_success.html" method="POST">
    <label for="old_pwd">Old Password:</label>
    <input type="text" name="old_pwd" id="old_pwd">

    <label for="new_pwd">New Password:</label>
    <input type="text" name="new_pwd" id="new_pwd">

    <label for="re_enter_pwd">Re-Enter PAssword:</label>
    <input type="text" name="re_enter_pwd" id="re_enter_pwd">

    <button type="submit" onclick="goto_password_reset_success()">SAVE CHANGES</button>
    </form>

    <form action="/timesheet_entry.html" method="POST">
    <button onclick="goto_timesheet_entry()">UPDATE TIMESHEET</button>
    </form>


    <form action="/logout.html" method="POST">
    <button onclick="goto_logout()">LOGOUT</button>
    </form>
    <script src="../static/js/password_reset_script.js">

    </script>
</body>
</html>